<div class="jumbotron">
    <h1 class="display-4">METABOLIC SYNDROME FIGHTER</h1>
    <br>
    <br>
    <p class="lead">Utilize this website to help you decrease the symptoms of the metabolic syndrom. Regain control of
        your health!
    </p>
    <hr class="my-4">
    <p> By following the ketogentic diet and achieving a Glucose to Ketone (KGI) ratio near to "1"; studies have shown
        that it helps to reduce the
        symptoms associated to the Metabolic Syndrome which include: </p>
    <ul>
        <li>Abdominal Obesity.</li>
        <li>Elevated Blood Pressure.</li>
        <li>Elevated fasting blood sugar levels.</li>
        <li>High Tryglycerides.</li>
        <li>Low "good" HDL Cholesterol levels.</li>
    </ul>
    <br>
    <br>
    <p>Are you ready to take the 30 days challenge and get back your health?</p>
    <br>
    <p>Plug your Ketone and Glucose fasting levels and we will calculate the KGI Index for you! </p>
    <p>Remember a KGI equal or less than "1" is ideal as it has therapeutic benefits in your body! </p>
    <form>
        <div class="form-group">
            <label for="ketoLevel">Ketogenic Level: </label>
            <input type="inputLevel" class="form-control" id="KetoLevel" aria-describedby="inputLevel"
                placeholder="Ketones Level (mmol/L)">
        </div>
        <br>
        <div class="form-group">
            <label for="glucoseLevel">Glucose Level: </label>
            <input type="inputLevel" class="form-control" id="glucoseLevel" placeholder="Glucose Level (mg/dL)">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Calculate KGI Index</button>
    </form>



    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>